extends layout

block history
    h4.text-dark Previous Winners
    table#winningHistory.table.table-striped.table-hover
        thead
            tr
                th(scope='col') Name
                th(scope='col') Guess
                th(scope='col') Total Spins
                th(scope='col') Date
        tbody
            tr
                td
                td
                td
                td