extends layout

block content
 main.d-flex.flex-column.justify-content-center(style='height: 80vh;')
    .container
      .row
        .col
          h1 Coming soon..
          p.lead
            | Empires rise and fall as the taco spins. You can try and
            br
            | resist but to fight the taco is an effort in futility. The taco
            br
            | turns and with it, destiny is made into reality